html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

h1, h2, h3, p {
  margin: 0;
}

h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 1.5rem;
}

p {
  margin: 0;
  font-size: 1rem;
}

a, button {
 cursor: pointer; 
}

#root {
  --margins: 4rem 8vw;
  --content-width: min(90%, 60rem);
  --content-padding-top: 2rem;

  --color: black;
  --dim-color: rgb(182, 182, 182);

  --border-color: rgb(231, 231, 231);
  --background-color: rgb(252, 252, 252);

  --nav-background-color: white;
  
  --table-background-color: white;
  --table-zebra-color: rgba(0, 0, 0, 0.03);

  --search-background: linear-gradient(white, rgb(247, 247, 247));

  display: flex;
  font-family: sans-serif;
  background-color: var(--background-color);
  color: var(--color);
}

#root.dark {
  
}

#outlet {
  flex: 1;
  overflow: auto;
}