html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

h1, h2, h3, h4, p {
  margin: 0;
}

h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.2rem;
}

p {
  margin: 0;
  font-size: 1rem;
}

a, button {
 cursor: pointer; 
}

#root {
  display: flex;
  font-family: sans-serif;
  background-color: var(--background-color);
  color: var(--color);

  --margins: 4rem 8vw;
  --content-width: min(90%, 60rem);
  --content-padding-top: 2rem;
  --content-margin-vertical: 5rem;
  --cell-padding-hor: 1rem;
  --cell-padding-ver: .5rem;

  /* Light Theme */
  --color: black;
  --dim-color: rgb(182, 182, 182);

  --border-color: rgb(231, 231, 231);
  --background-color: rgb(252, 252, 252);

  --nav-background-color: white;
  
  --table-background-color: white;
  --table-zebra-color: rgba(0, 0, 0, 0.03);

  --search-background: linear-gradient(white, rgb(247, 247, 247));
}

#root.dark {
  --color: white;
  --dim-color: rgb(143, 143, 143);

  --border-color: rgb(61, 61, 61);
  --background-color: black;

  --nav-background-color: rgb(10, 10, 10);
  
  --table-background-color: rgb(10, 10, 10);
  --table-zebra-color: rgba(255, 255, 255, 0.03);

  --search-background: linear-gradient(black, rgb(29, 29, 29));
}

#outlet {
  flex: 1;
  overflow: auto;
}