.container p,
.container input[type="text"] {
  font-family: monospace;
  font-size: 1.3rem;
}

.container {
  background: rgb(20, 20, 20);
  color: rgb(0, 255, 0);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.container > div:first-child {
  flex: 1;
  overflow: auto;
  padding: 1rem;
}

.container > div:last-child {
  padding: 0 1rem;
  display: flex;
  align-items: center;
  border-top: 1px solid rgb(87, 87, 87);
}

.container input[type="text"] {
  color: inherit;
  background-color: inherit;
  padding: 1rem;
  flex: 1;
  border: none;
  outline: none;
}
