.container {
  max-width: var(--content-width);
  padding: var(--content-margin-vertical) 0;
  margin: 0 auto;
}

.container > h2 {
  margin-bottom: 1rem
}

.container > h2 > span {
  color: var(--dim-color);
}