.container {
  display: flex;
  flex-direction: column;
}

.container > img {
  height: 22rem;
  object-fit: cover;
}

.wrap {
  padding: var(--margins);
}

.wrap > h1 > span {
  color: var(--dim-color);
}

.wrap button {
  font-size: 1.5rem;
}