.container {
  display: flex;
  flex-direction: column;
}

.container > img {
  height: 22rem;
  object-fit: cover;
  object-position: center 30%;
}

.wrap {
  width: var(--content-width);
  padding-top: var(--content-padding-top);
  margin: 0 auto;
}

.info {
  margin-bottom: 3rem;
}

.info > h1,
.info > h3 {
  margin-bottom: .5rem;
}

.info > h1 > span {
  color: var(--dim-color);
}

.info button {
  font-size: 1.5rem;
}

.genres {
  font-weight: normal;
}