.container {
  width: 100%;
}

.container > h2 {
  margin-bottom: 1rem;
}

.container > h2 > span {
  color: var(--dim-color);
}

.wrap {
  width: 100%;
  overflow: auto;
}

.table {
  width: 100%;
  border-collapse: collapse;
  border: solid 1px var(--border-color);
  --cell-padding-hor: 1rem;
  --cell-padding-ver: .5rem;
}

.table thead {
  border-bottom: solid 1px var(--border-color);
}

.table > tbody tr {
  cursor: pointer;
}

.table > tbody tr:hover {
  text-decoration: underline;
}

.table tbody > tr:nth-of-type(2n) {
  background-color: var(--table-zebra-color);
}

.table td, .table th {
  text-align: center;
  padding: var(--cell-padding-ver) var(--cell-padding-hor);
}

.table td:first-child, .table th:first-child {
  text-align: left;
  padding-left: calc(2*var(--cell-padding-hor));
  width: 80%;
}

.table td:last-child, .table th:last-child {
  padding-right: calc(2*var(--cell-padding-hor));
}
