.wrap {
  width: 100%;
  overflow: auto;
}

.table {
  border-collapse: collapse;
  background-color: var(--table-background-color);
  width: 100%;
  border: solid 1px var(--border-color);
  text-align: left;
  overflow: auto;
}

.table thead {
  text-transform: capitalize;
  border-bottom: solid 1px var(--border-color);
}

.table > tbody tr:nth-of-type(2n) {
  background-color: var(--table-zebra-color);
}

.table th, .table td {
  padding: var(--cell-padding-ver) var(--cell-padding-hor);
}

.table th:first-child, .table td:first-child {
  padding-left: calc(var(--cell-padding-hor));
}

.table th:last-child, .table td:last-child {
  padding-right: calc(var(--cell-padding-hor));
}

.table td > button {
  width: 100%;
}

.table td:last-child {
  width: 1rem;
}